{% extends 'base.html.twig' %}

{% block body %}
<div class="content-project">
    <div class="container">
      <div class="row">
    {% for project in projects %}
    <div class="col">
        <h3>{{ project.title }}</h3>
        <p>Ici insérer un extrait de la description</p>
        <p>
            <a href="{{ path('project_show', { 'id': project.id }) }}" class="btn btn-primary" role="button">Show</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-primary" role="button">Edit</a>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div></div>
</div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('project_new') }}">Create a new project</a>
    {% endif %}
{% endblock %}
