$font-font: 'Hind';

body{
    font-family: $font-font;
    padding: 80px 0 0 0;
    margin: 0;
}

/** MENU **/
nav{
    padding: .5em;
    height:80px;
}
.navbar-brand {
    padding: 0 0 0 20px;
}

img {
    vertical-align: middle;
}

.navbar {
    min-height: 80px;
    border: 0px solid transparent;
}

.admin-bar{
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: #FFF;
    width: 100%;
    height: 20px;
    border: 2px solid #31708f;
}

.admin-bar ul {
    display: inline-block;
    float: right;
    margin-right: 40px;
}

.admin-bar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

.links{
    float:right;
}

footer{
    background-color: #444444;
    width: 100%;
    color:#FFF;
    text-align: center;
    padding: 10px 0;
    position:absolute;
}

.footer-links li{
    display: inline-block;
}

.footer-links li a{
    color:#FFF;
}
