/****** INDEX ******/
.container.intro {
    background-color: #0db3b2;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.container .row{
    font-size: 16px;
    margin-bottom: 1em;
}

.container .row img{
    margin-bottom: 2em;
}

.description p{
    padding: 0 2em;
    text-align: justify;
}

.map.container-fluid{
    text-align: center;
}

h3 .project-title{
    border-top: 1px solid #000;
    font-weight: 300;
}

/* SHOW PROJECT*/
.project-show{
    position: fixed;
    text-align: justify;
}

.project-html {
    margin-left: 33%;
}
