<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- interdire le mode de compatibilite -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Anissa Botohely|Website{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        <link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Hind:300,400" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);
        /****** LOGIN ******/
        .login-container {
            padding: 30px;
            max-width: 350px;
            width: 100% !important;
            background-color: #F7F7F7;
            margin: 100px auto;
            border-radius: 2px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            font-family: roboto;
        }
        .login-container h1 {
            text-align: center;
            font-size: 1.8em;
            font-family: roboto;
        }
        .login-container input[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
        }
        .login-container input[type=text], input[type=password] {
            height: 44px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            /* border-radius: 2px; */
            padding: 0 8px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .login-container input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }
        .login-submit {
            /* border: 1px solid #3079ed; */
            border: 0px;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #4d90fe;
            padding: 17px 0px;
            font-family: roboto;
            font-size: 14px;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }
        .login-submit:hover {
            /* border: 1px solid #2f5bb7; */
            border: 0px;
            text-shadow: 0 1px rgba(0,0,0,0.3);
            background-color: #357ae8;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
        }
        .login-container a {
            text-decoration: none;
            color: #666;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }
        .login-help{
            font-size: 12px;
        }
    </style>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block fos_user_content %}{% endblock %}
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Begin NavBar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <span class="navbar-brand">
                  <a class="navbar-brand" href="{{ path('homepage') }}">
                      {% image '@AppBundle/Resources/public/images/logoAnissaWhite.png' %}
                        <img src="{{ asset_url }}" alt="logo" width="70" />
                      {% endimage %}
                  </a>
              </span>
            </div>
            <div class="links">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('project_index') }}">Projects</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('media_index') }}">Media</a></li>
                    {% endif %}
                </ul>
            </div>
          </div>
        </div>
        {% block body %}{% endblock %}
        <footer>
            <div class="container">
                <ul class="footer-links">
                    <li><a target="_blank" href="https://gitlab.com/Tibz2709">GitHub</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/Traveltibz/">Instagram</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/anissa-botohely-7712756a/">Linkedin</a></li>
                    <li><a target="_blank" href="https://angel.co/anissa-botohely?public_profile=1">Angel.co</a></li>
                </ul>
                <p>Designed and built with ♡ by Anissa Botohely | July 2017 </p>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
