{% extends 'base.html.twig' %}

{% block body %}
<div class="container intro" align="center">
    <h1>Hi there! My name is Anissa!</h1>
        {% image '@AppBundle/Resources/public/images/avataranissa.png' %}
          <img src="{{ asset_url }}" alt="avataranissa" width="400" />
        {% endimage %}
    <p>I'm a project coordinator with a passion for web!</p>
    <p>I'm from Paris (with ♡) but currently living in Toronto </p>
    <p>Curious & Creative are two words in the dictionnary. <br/>
    <span style="font-size:13px;">But you can also use them to qualify my personality!</span></p>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ asset('04eca79f852e371d619a641d3de1cb3a.pdf', 'doc') }}" role="button">My resume</a>
    </p>
</div>

<div class="container" align="center" width="70%">
  <div class="row">
    <div class="description col-lg-4">
      <h2>Web</h2>
      {% image '@AppBundle/Resources/public/images/web.png' %}
        <img src="{{ asset_url }}" alt="web" height="120" width="120" />
      {% endimage %}
      <p>HTML, CSS, PHP/MySQL, CMS, Symfony3, Drupal, Wordpress... Still learning new skills in web development but also as a web project coordinator!</p>
    </div>
    <div class="description col-lg-4">
        <h2>Project Management</h2>
        {% image '@AppBundle/Resources/public/images/event.png' %}
          <img src="{{ asset_url }}" alt="events" height="120" width="120" />
        {% endimage %}
        <p>Creating the planning, ensuring compliance with schedule, communicating with the client (internal/external), coordinating the teams (IT, graphic designer), being an important link between teams <br/>(♡ Happy clients ♡)</p>
    </div>
    <div class="description col-lg-4">
        <h2>Video</h2>
        {% image '@AppBundle/Resources/public/images/video.png' %}
          <img src="{{ asset_url }}" alt="video" height="120" width="120" />
        {% endimage %}
        <p>For me: the most creative part! Creating the story, looking for the graphic content (pictures, icons, sounds, musics...) with Adobe Premiere Pro & beginner with After Effect!
        </p>
    </div>
  </div>
</div>

<div class="map container-fluid">
    <iframe
      width="80%" height="400" frameborder="0" style="border:0;" margin-top="20"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPrpS_IZmiL2PU2ID80MPvsJUq69W-c7U&q=Etobicoke,+Toronto+ON" allowfullscreen>
    </iframe>
</div>
{% endblock %}
