{% extends 'base.html.twig' %}

{% block body %}
<div class="content-project">
    <h1>Medias</h1>
    <div class="container">
        <div class="row">
        {% for media in medias %}
        <!-- TO DO: CREATED A TABLE -->
        <div class="col">
            <ol>
                <li>{{ media.docName }}</li>
                <img src="{{ asset("uploads/docs/" ~ media.doc ) }} " style="width:50px;border:1px solid #000;" />
                <a href="{{ path('media_show', { 'id': media.id }) }}" class="btn btn-primary" role="button">Show</a>
            </ol>
        </div>
        {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('media_new') }}">Add a media</a>
    {% endif %}
</div>
{% endblock %}
