{% extends 'base.html.twig' %}

{% block body %}
<h1>Adding a new document</h1>

    {{ form_start(form) }}

        {{ form_row(form.doc) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
