{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ media.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ media.docName }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td><img src="{{ asset("uploads/docs/" ~ media.doc ) }} " style="width:400px;border:1px solid #000;" /></td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ media.createdAt|date("m/d/Y")  }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ media.updatedAt|date("m/d/Y") }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_index') }}">Back to the list</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('media_edit', { 'id': media.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}

    </ul>
{% endblock %}
