{% extends 'base.html.twig' %}

{% block body %}
<h1>Project index</h1>
<div class="content-project">
    <div class="container">
        {% for row in projects|batch(3) %}
            <div class="row">
                {% for project in row|reverse  %}
                    <div class="col-6 col-md-4">
                        <h3 class="project-title">{{ project.title }}</h3>
                        <a href="{{ path('project_show', { 'id': project.id }) }}">
                            <img src="{{ asset("uploads/docs/" ~ project.thumbnail ) }} " style="width:100%;" />
                        </a>

                        <p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-primary" role="button">Edit</a>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="clear" style="clear:both"></div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('project_new') }}">Create a new project</a>
    {% endif %}
{% endblock %}
