{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
          <div class="col col-md-4 project_show">
              <h2>{{ project.title }}</h2>
              <br/>
              {{ project.description }}
              {{ project.html|raw }}
          </div>
          <div class="col col-md-8 project-html">

          </div>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}

    </ul>
{% endblock %}
